/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Raleway';
    margin: 0;
    box-sizing: border-box;
    margin: 8px;
}
.button {
    cursor: pointer;
}
input {
    height: 24px;
    border-radius: 5px;
    font-size: 16px;
    color: #666666
}
.input-container {
    display:flex;
    flex-direction: row;
    gap:8px
}
.input-container label {
    display: flex;
    align-items: center;
}