.modal-bg {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgb(0, 0, 0, 0.2);
}

.modal-content {
    background-color: white;   
    width: 350px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 8px;
}
.share-input {
    justify-content: center;
}
.share-input label {
    white-space: nowrap;
}
.share-input input {
    width: 100%;
}

.modal-header {
    display: flex; 
    justify-content: end;
}

.modal-footer {
    display: flex;
    justify-content: center;
    padding-bottom: 16px;
}

.share-btn {
    min-height: 32px;
    min-width: 80px;
    font-weight: 400;
    font-size: 16px;
    background-color: #666666;
    border: 0;
    color: #ffffff;
    border-radius: 3px;
    cursor: pointer;
}
.share-btn:disabled {
    cursor: default;
    opacity: 0.4;
}
.share-error {
    display: flex;
    justify-content: end;
}
.share-error-message {
    color: red;
    font-weight: 700;
    font-size: 10px;
}