.list-body {
    display: flex;
    flex-direction: column;
}

.list-search {
    display: flex;
    flex-direction: row;
    width: 100%;
}


.list-container {
    display: flex;
    flex-direction: column;
}
.list-container table tbody tr {
    text-align: center;
    height: 40px;
    cursor: pointer;
}