<div class="modal-bg" *ngIf="isOpen">
    <div class="modal-content">
        <div class="align-end">
            <img src="../../../assets/images/close.png" class="button" (click)="onClickCloseModal()"/>
        </div>
        <div class="input-container share-input">
            <label>Share with:</label>
            <input type="email" [formControl]="shareEmailControl" placeholder="example@email.com" />
        </div>
        <div class="align-end">
            <span *ngIf="shareEmailControl.hasError('email')" class="share-error-message">Invalid email.</span>
        </div>
        <div class="modal-footer">
            <button class="share-btn" (click)="onClickShare()" [disabled]="shareEmailControl.value ==='' || shareEmailControl.hasError('email')">Share</button>
        </div>
    </div>
</div>